<p>sucess fully post the daata </p>

<p>name sanjay</p>
<table class="table">
<tbody>
  <th>Name</th>
  <th>Email</th>
  <th>Contact</th>
  <th>Place</th>
  <th>Edit</th>
  <th>delete</th>
</tbody>
<% for(var i=0; i< data.length; i++) {%>
  <tr>
    <td>
      <%= data[i].fn%>
    </td>
    <td>
      <%= data[i].ln%>
    </td>
    <td>
      <%= data[i].email%>
    </td>
    <td>
      <%= data[i].number%>
    </td>
    <td>
      <a href="/userupdate"><button><b>Edit</b></button></a>
    </td><td>
     <a href="showuser/delete/<%= data[i].id%>"><button>Delete</button></a>
    </td>
  </tr>
<% } %> 

<!-- 
<form>
  <div class="form-row">
    <div class="col-sm-1 ">
      <input type="text" class="form-control form-01" placeholder="First name">
    </div>
    <div class="col-sm-1 ">
      <input type="text" class="form-control form-02" placeholder="First name">
    </div>
    <div class=" form-row col-sm-2 ">
      <input type="text" class="form-inline form-03" placeholder="First name">
      <input type="text" class="form-inline form-03" placeholder="First name">
    </div>
    <div class="col-sm-1 ">
      <input type="text" class="form-control form-04" placeholder="First name">
    </div>
    <div class="col-sm-1 ">
      <input type="text" class="form-control form-05" placeholder="First name">
    </div>
    <div class="col-sm-1 ">
      <input type="text" class="form-control form-06" placeholder="Last name">
    </div>
    <div class="col-sm-1 ">
      <input type="text" class="form-control form-07" placeholder="Last name">
    </div>
    <div class="col-sm-1 ">
      <input type="text" class="form-control form-08" placeholder="Last name">
    </div>
    <div class="col-sm-1 ">
      <input type="text" class="form-control form-09" placeholder="Last name">
    </div>
    <div class="col-sm-1 ">
      <input type="text" class="form-control form-10" placeholder="Last name">
    </div>

  </div>
</form> -->